#mainNav{
  padding: 0px;
}
@media (min-width: 992px){
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    transition: padding-top 0.3s, padding-bottom 0.3s;
}

}
@media (max-width: 992px){
  #mainNav {
    background-color: #2f2f2f;
}

}



.landing-page{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: auto;
}
.landing-page.bg {
    background: url("../images/bg-full.jpg") no-repeat;
    background-size: cover;
  }
  
.landing-page section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: auto !important;
}


  .landing-page .logo {
    background: url("../images/sp-logo.svg") no-repeat;
    width: 148px;
    height: 76px;
  }
  
  .landing-page .title {
    text-transform: uppercase;
    color: #fff;
  }
  .landing-page .title .title-border {
    border-left: 5px solid #ff6600;
    padding-left: 1.5rem;
    height: 32px;
    display: inline-block;
  }
  .landing-page .title .title-content {
    font-size: 45px;
  }
  .landing-page .page-section-content {
    width: 42rem;
  }
  .landing-page .bg-tokenomic {
    background: url("../images/tokenomic.png") no-repeat;
    height: 598px;
  }
  .spx-btn{
    margin: 0 12px;
  }
  .spx-btn.btn-win {
    background: url("../images/btn-win.png") no-repeat;
    background-size: 100% 100%;
    width: 156px;
    height: 52px;
  }
  
  .spx-btn.btn-apk {
    background: url("../images/btn-apk.png") no-repeat;
    background-size: 100% 100%;
    width: 156px;
    height: 52px;
  }
  
  .spx-btn.btn-mac {
    background: url("../images/btn-mac.png") no-repeat;
    background-size: 100% 100%;
    width: 156px;
    height: 52px;
  }
  .navbar a {
    cursor: pointer;
  }

/* Home */
  .page-section#home .container{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
.page-section#home .masthead-heading{
    font-weight: 400;
    letter-spacing: 2px;
    margin-bottom: 25px !important;
  }

  /* What */
  .what-ship-container{
    position: relative;
  }
.what-ship-container .what-ship-one{
  position: absolute;
  top: 20px;
  left: 250px;
  display: block;
  width: 480px;
  height: 280px;
  background-image: url(../images/ships/ships-astero_1.svg);
  background-repeat: no-repeat;
  background-size: 480px 280px;
}

.what-ship-container .ship-transfer-1{
  animation: shipTransfer1 6s ease infinite;
  -webkit-animation: shipTransfer1 6s ease infinite;

}
.what-ship-container .what-ship-two{
  position: absolute;
  top: 268px;
  left: 450px;
  display: block;
  width: 220px;
  height: 100px;
  background-image: url(../images/ships/ships-raven_2.svg);
  background-repeat: no-repeat;
  background-size: 220px 100px;
}
.what-ship-container .ship-transfer-2{
  animation: shipTransfer2 6s ease infinite;
  -webkit-animation: shipTransfer2 6s ease infinite;

}
.what-ship-container .what-ship-three{
  position: absolute;
  top: -100px;
  left: 275px;
  display: block;
  width: 270px;
  height: 130px;
  background-image: url(../images/ships/ships-raven_2.svg);
  background-repeat: no-repeat;
  background-size: 270px 130px;
}
.what-ship-container .ship-transfer-3{
  animation: shipTransfer3 6s ease infinite;
  -webkit-animation: shipTransfer3 6s ease infinite;

}

  /* Spaceship overview */

  .spaceship-overview .page-section-content {
    width: 100%;
  }
  .spaceship-overview .page-section-content .ship-img-container{
    width: 700px;
  }
  .spaceship-overview .page-section-content .ship-img-container .ship-img-view{
 height: 350px;
 margin-bottom: 20px;
}
.spaceship-overview .page-section-content .ship-img-container .ship-img-view .ship-image-bg{
  height: 350px;
  background-repeat: no-repeat;
  background-size: 90% 100%;
  background-position: 50%;
}
.spaceship-overview .page-section-content .ship-img-container .ship-img-list{
 display: flex;
}
.spaceship-overview .page-section-content .ship-img-container .ship-img-list .item{
  width: 160px;
  height: 120px;
  margin-right: 20px;
  cursor: pointer;
}
.spaceship-overview .page-section-content .ship-img-container .ship-img-list .item.active{
  border: 1px solid #ff6600;
  border-radius: 3px;
}
.spaceship-overview .page-section-content .ship-img-container .ship-img-list .item:hover{
  border: 1px solid #ff6600;
  border-radius: 3px;
  transform: scale(1.05);
  color: #ff6600;
}
.spaceship-overview .page-section-content .ship-img-container .ship-img-list .item .ship-img-item{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 155px 120px;
    background-color: #78777733;
    padding: 0px 5px;
}
  .spaceship-overview .page-section-content .ship-spec-container{
    width: 400px;
    padding: 20px 15px;
    background-color: #78777733;
  }
  .spaceship-overview .page-section-content .ship-spec-container .spec-name{
    flex-direction: column;
  }
  .spaceship-overview .page-section-content .ship-spec-container .spec-name{
    margin: 8px 15px 25px;
  }
  .spaceship-overview .page-section-content .ship-spec-container .spec-description{
    margin: 5px 15px 5px;
  }
  .spaceship-overview .page-section-content .ship-spec-container .spec-row{
    display: flex;
  }
  .spaceship-overview .page-section-content .ship-spec-container .spec-row.spec-overview{
    justify-content: space-around;
  }
  .spaceship-overview .page-section-content .ship-spec-container .spec-row .spec-detail{
    display: flex;
    flex-direction: column;
    width: 33%;
    margin: 8px 15px;
  }
  /* Roadmap */
#roadmap .page-section-content{
  width: 100%;
}

#roadmap .roadmap-box-container
{
  background-color: #78777733;
}
.arrow_box {
  position: relative;
}
/* .arrow_box:before { 
  -ms-transform:rotate(-45deg);
  -webkit-transform:rotate(-45deg); 
  transform:rotate(-45deg);
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  bottom: 0;
  right: 0px;
}

.arrow_box:before {
  border-color: transparent;
  border-bottom-color: #c2e1f5;
  border-width: 16px;
  bottom: 7px;
  right: 7px;
} */
.arrow_box:before{
  content: "";
  position: absolute;
  bottom: -30px;
  right: 0;
  border: 15px solid #78777733;
  -webkit-clip-path: polygon(100% 100%, 0 100%, 0 0);
  clip-path: polygon(100% 100%, 0 100%, 0 0);
  -ms-transform:rotate(90deg);
  -webkit-transform:rotate(90deg); 
  transform:rotate(90deg);
}

.arrow_box:after{
  content: "";
  position: absolute;
  bottom: -30px;
  right: 29.5px;
  background: #78777733;
  width: 100%;
  height: 30px;
  -webkit-clip-path: polygon(49px 0, 100% 0, 100% 100%, 49px 100%);
  clip-path: polygon(30px 0, 100% 0, 100% 100%, 30px 100%);
}


  /* Token */


  /* Partner */
  #partner .page-section-content{
    width: 100%;
  }
#partner .partner-box{
  height: 170px;
  padding: 20px;
  
}
#partner .partner-box-content{
  height: 100%;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
}
#partner .partner-box-content .partner-box-img{
  height: 100%;
  width: 100%;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
}



  /* General */
  .fs-subtitle{
    font-size: 22px;
  }

  .cl-orange{
    color: #ff6600;
  }
  .f-uppper{
    text-transform: uppercase;
  }

@keyframes shipTransfer1
{
  0%{
    top: -150px;
    left: 500px;
    transform: scale(0.5);
  }
  /* 50%  {
    top: 20px;
    left: 250px;
    transform: scale(1);
  } */
  100% {
    top: 180px;
    left: 0px;
    transform: scale(1.4) ;
  }
}

@keyframes shipTransfer2
{
  0%{
    top: 50px;
    left: 500px;
    transform: scale(0.5);
  }
  /* 50%  {
    top: 268px;
    left: 450px;
    transform: scale(1);
  } */
  100% {
    top: 500px;
    left: 20px;
    transform: scale(1.8);
  }
}

@keyframes shipTransfer3
{
  0%{
    top: -150px;
    left: 500px;
    transform: scale(0.5);
  }
  /* 50% {
    top: -100px;
    left: 275px;
    transform: scale(1);
  } */
  100% {
    top: 0px;
    left: 0px;
    transform: scale(1.6);
  }
}